*{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: #14363e;
	white-space: nowrap;
	letter-spacing: 0px;
}
#clock {
	position: absolute;
	margin-top: 100px;
	margin-left: 35%;
	
	width: 440px;
	height: 350px;
}
.row {
	margin-top: 5%;
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
}
.dark {	
	display: inline-block;
	float: left;
	clear: none;
	
	letter-spacing: 30px;
	font-family: Courier, monospace;
	color: #08262B;
	font-size: 16px;
}
.light {
	display: inline-block;
	float: left;
	clear: none;
	
	letter-spacing: 30px;
	font-family: Courier, monospace;
	color: #57BED4;
	font-size: 16px;
}
#octocat, #fork {
	display: none;
}
#footer {
	font-family: "HelveticaFinal";
	font-size: 12px;
	color: #257586;
	text-align: center;
	
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 35px;
}
@media screen and (max-width: 700px) {
	#clock {
	margin-left: 17%;
	margin-top: 70px;
	}	
}
@media screen and (max-width: 530px) {
	#clock {
	margin-right: 5%;
	margin-left: 10%;
	margin-top: 40px;
	}
	.dark, .light {
		letter-spacing: 30px;
		font-size: 12px;
	}
	#footer {
		font-size: 10px;
		height: 30px;
	}
}
@media screen and (max-width: 420px) {
	#clock {
	width: 340px;
	height: 250px;
	position: absolute;
	margin-right: 6%;
	margin-left: 15%;
	margin-top: 40px;
	}
	.row {
		margin-top: 2%;
	}
	.dark, .light {
		letter-spacing: 15px;
		font-size: 12px;
	}
	#footer {
		font-size: 10px;
		height: 30px;
	}
}
